
html, body{
	height:100%; /* important to vertically align the container */
	margin:0;
	padding:0;
}
.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one 🙂       */
	display: flex;
	align-items: center;
}
.login-img {
	height: 300px;
}
.login-card {
	height: 200px;
}
.form-control-lg, .btn-lg {
	width: 100%;
    min-height: 46px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}