.smarts-navbar {
	display: list-item;
	background-color: lightgrey;
	color: black;
	padding: 0px;
}
.top-nav .dropdown-menu {
	background: lightgrey; 
	border: 0px;
}
.top-nav .dropdown .nav-link {
	color:black; 
	text-decoration: none;
}
.top-nav .dropdown .dropdown-menu a {
	color: black; 
	text-decoration: none;
}
.top-nav .dropdown .btn {
	background: lightgrey; 
	color:black;
}
.top-nav .dropdown .btn:active {
	background: black; 
	color:lightgrey;
}
.top-nav .dropdown .btn:focus {
	background: #fff; 
	color:#343a40;
}
.top-nav .dropdown-menu .dropdown-item {
	display: inline-block; 
	width: 100%; 
	padding: 10px 5px;
}
.top-nav .dropdown .dropdown-menu a:hover {
  color: #343a40;
  background-color: #fff;
}
.mid-nav {
	margin-bottom: -5px;
}
.mid-nav ul {
  width: 100%;
}
.mid-nav ul li {
	width: 16%;
	text-align: center;
}
.mid-nav ul > li.nav-item {
	background-color: black;
	color: white;
	border-width: 1px;
	border-color: black;
	margin-left: 2px;
}
.mid-nav ul > li.nav-item a {
	color: white;
}
.mid-nav ul > li.nav-item.active {
	background-color: #fff;
	color: black;
}
.mid-nav .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #fff;
	color: black;
	border-width: 1px;
	border-color: black;
}
.mid-nav .nav-pills .nav-link {
	border-radius: 0rem;
}
hr.nav-hr {
	border-width: thick;
    background-color: black;
    padding: 0px;
    margin: 0px;
}
hr.content-hr {
	background-color: #840705;
	border-width: 3px;
}