.input-field.dropdown-menu{
	height:200px;
	overflow-y:auto;
}
.input-group-dropdown {
	padding: 0px;
	border: 0px;
}
.table {
	display: table;
}
.table td, .table th {
    border: none;
}
table.table.table-border-outline {
    border: 1px solid lightgrey;
}
.center {
	text-align: center;
}
.w-5 {
	width: 5%;
}
.w-10 {
	width: 10%;
}
.w-15 {
	width: 15%;
}
.w-20 {
	width: 20%;
}
.w-30 {
	width: 30%;
}
.w-40 {
	width: 40%;
}
.w-80 {
	width: 80%;
}
.smarts-color-red {
	color: #840705;
}

/* FORM */
.required::after {
	content: "*";
    color: #d00;
    position: absolute;
}

/* MODAL */
.smarts-modal-header {
	background-color: #840705;
	color: white;
}
.smarts-modal-footer {
	background-color: #840705;
}