.user-manage-nav {
	margin-top: -16px;
	padding-bottom: 16px;
	padding-left: 0px;
}
.user-manage-nav ul > li.nav-item {
	background-color: lightgrey;
	color: black;
	border-width: 1px;
	border-color: lightgrey;
	margin-right: 3px;
}
.user-manage-nav ul > li.nav-item a {
	color: black;
}
.user-manage-nav ul > li.nav-item:focus {
	background-color: #840705;
	color: white;
}
.user-manage-nav .nav-pills .nav-link {
	border-radius: 0 0 .5rem .5rem;
}
.user-manage-nav .nav-pills .nav-item {
	border-radius: 0 0 .5rem .5rem;
}
.user-manage-nav .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #840705;
	color: white;
	border-width: 1px;
	border-color: #840705;
}